<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Confirmación</title>
</head>

<body style="margin:0; padding:0; background-color:#1D4ED8; font-family:Arial, sans-serif;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" style="padding:40px 10px;">

                <table width="400" cellpadding="0" cellspacing="0"
                    style="background:white; border-radius:8px; text-align:center; padding:30px;">

                    <tr>
                        <td style="font-size:28px; font-weight:bold; color:black; padding-bottom:20px;">
                            Confirmacion de inicio de sesion
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-bottom:20px;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMFRtxsid9VYIwxAvqGz69bVsYU8kJ3d_K-Q&s"
                                width="120" style="border-radius:10px;">
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:18px; color:#333333; padding-bottom:30px;">
                            Se ha detectado un inicio de sesion el dia xx/xx/xx a las xx:xx horas.
                            Para confirmar el inicio de sesion, confirme que es usted.
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-bottom:20px;">

                            <a href="http://localhost:5173/usermain" style="
                                background-color:#FACC15;
                                color:black;
                                font-size:24px;
                                font-weight:bold;
                                padding:15px 40px;
                                text-decoration:none;
                                border-radius:40px;
                                display:inline-block;
                                ">
                                Confirmar
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:12px; color:#666666; font-style:italic;">
                            Si no es usted se recomienda que tome medidas de seguridad para proteger su cuenta.
                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

</body>

</html>